<h1>Hello {{name}}</h1>

<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>Address: {{address.street}} {{address.city}} {{address.state}}</li>
</ul>
<button (click)="onClick()">Click Me</button>
<button (click)="toggleEdit()">Edit user</button>
<br>

<div *ngIf=isEdit>
  <h1>Edit User</h1>
  <form>
    <div>
      <label for="name">Name: </label>
      <input name="name" type="text" [(ngModel)]="name">
    </div>
    <div>
      <label for="age">Age: </label>
      <input name="age" type="number" [(ngModel)]="age">
    </div>
    <div>
      <label for="email">Email: </label>
      <input name="email" type="text" [(ngModel)]="email">
    </div>
    <div>
      <label for="street">Street: </label>
      <input name="street" type="text" [(ngModel)]="address.street">
    </div>
    <div>
      <label for="city">City: </label>
      <input name="city" type="text" [(ngModel)]="address.city">
    </div>
    <div>
      <label for="state">State: </label>
      <input name="state" type="text" [(ngModel)]="address.state">
    </div>
  </form>
</div>



{{hobbies}}

<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i = index">
    {{i + 1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button>
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>